{% extends "layout.html" %}
{% block content %}
<p>&nbsp;</p>
<form class="">
<div class="container">
	<div class="col-md-12">
		<textarea class="form-control js-word" rows="3" placeholder="ココに形態素解析したい文章入力して[解析]をクリックすると、結果以下に表示されます。"></textarea>
		<button type="button" class="btn btn-primary js-recognize">解析</button>
	</div>
</div>
</form>

<p>&nbsp;</p>
<form class="">
	<div class="container">
		<div class="col-md-12">
			<textarea class="form-control js-word1" rows="2" placeholder="ココに単語1を入れて"></textarea>
			<textarea class="form-control js-word2" rows="2" placeholder="ココに単語2を入力して[類似度]をクリックすると、結果以下に単語1と2の類似度が表示されます。[similar]をクリックすると、単語1の関連ベスト5が表示されます"></textarea>
			<button type="button" class="btn btn-primary js-similarity">類似度</button>
			<button type="button" class="btn btn-primary js-most-similar">similar</button>
		</div>
	</div>
</form>
	
<div class="container">
	<div class="col-md-12">
		<div class="js-result">結果</div>
	</div>
</div>
{% endblock %}